{% extends 'base/base_peminjam.html' %}
{% block title %} Peminjam - List Buku {% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <div class="card mb-4" style="margin-top: 50px; background-color: rgba(14, 70, 163, 0.2); backdrop-filter: blur(10px);">
            <h1 class="mt-4 px-4" style="color: #FFFFFF;">Daftar Buku</h1>
            <ol class="breadcrumb mb-4 px-4" style="background-color: rgba(14, 70, 163, 0.0); color: #FFFFFF;">
                <li class="breadcrumb-item "><a href="{% url 'User:peminjam-read' %}" style="color: #FFFFFF;">Daftar buku</a></li>
                <li class="breadcrumb-item active" style="color: #FFFFFF;">Tables</li>
            </ol>
        </div>
        <div class="card mb-4" >
            <div class="card-header" style="background-color: #9AC8CD;">
                <i class="fas fa-table me-1"></i>
                Buku-buku yg tersedia: 
            </div>
            
            <div class="card-body" style="background-color: rgba(225, 247, 245, 0.9);">
                <table id="datatablesSimple">
                    <thead >
                        <tr>
                            <th>ID BUKU</th>
                            <th>JUDUL</th>
                            <th>KATEGORI</th>
                            <th>PENULIS</th>
                            <th>PENERBIT</th>
                            <th>TAHUN TERBIT</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <td class="">{{ book.bukuid }}</td>
                            <td class="">{{ book.judul }}</td>
                            <td class="">{{ book.kategoriid.namakategori }}</td>
                            <td class="">{{ book.penulis }}</td>
                            <td class="">{{ book.penerbit }}</td>
                            <td class="">{{ book.tahunterbit }}</td>
                            <td class="">
                                <a href="{% url 'Peminjaman:create' book.bukuid %}" class="btn btn-primary">Pilih buku</a>
                                <a href="{% url 'Ulasanbuku:ulasan-create' book.bukuid %}" class="btn btn-success">Ulasan</a>
                                <a href="{% url 'Koleksipribadi:koleksi-create' book.bukuid %}" class="btn btn-info ">Favorit</a>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

                {% endblock %}