{% extends 'base/base_admin.html' %}
{% block title %} List kategoris {% endblock %}
{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Daftar kategori</h1>
                        <a href="" class="btn btn-primary float-end">Tambah Data</a>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Aladin-List-kategoris
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID KATEGORI</th>
                                            <th>NAMA KATEGORI</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for kategori in kategoris %}
                                        <tr>
                                            <td class="">{{ kategori.kategoriid }}</td>
                                            <td class="">{{ kategori.namakategori }}</td>
                                            <td class="">
                                                <a href="{% url 'kategoribuku:update' kategori.kategoriid %}" class="btn btn-warning">Update</a>
                                                <a href="" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
{% endblock %}
